# Copyright (c) 2017, Oracle and/or its affiliates. All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; version 2 of the License.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301 USA

#
# The MySQL  Server configuration file.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

[client]			# # 定义客户端的默认参数
default-character-set=utf8mb4   # # 设置客户端的默认字符集为utf8mb4

[mysql]				# # 定义MySQL命令行工具的默认参数
default-character-set=utf8mb4	# # 设置MySQL命令行工具的默认字符集为utf8mb4

[mysqld]			# # 定义MySQL服务器的默认参数
pid-file        = /var/run/mysqld/mysqld.pid		# 指定MySQL服务器的进程ID文件位置
socket          = /var/run/mysqld/mysqld.sock		# 指定MySQL服务器的Unix域套接字文件位置
datadir         = /var/lib/mysql			# 指定MySQL服务器的数据目录位置
secure-file-priv= NULL					# 指定MySQL服务器的安全文件目录位置（这里设置为NULL表示没有限制）

wait_timeout=246400			# 指定服务器在关闭闲置连接之前等待的时间（以秒为单位）
innodb_log_file_size=2G			# 设置InnoDB存储引擎的日志文件大小为2GB
lower_case_table_names=1		# 设置表名大小写敏感性，1表示不区分大小写
#character_set_results=utf8		 # 设置查询结果字符集
character_set_server=utf8mb4		# 设置服务器的默认字符集为utf8mb4
default-storage-engine=INNODB		# 设置默认的存储引擎为InnoDB
innodb_default_row_format=DYNAMIC	# 设置默认的InnoDB行格式为动态。
max_connections=5000			# 设置mysql的连接数，默认是151个连接数

# 配置定义慢查询日志的开关、慢查询的时间、日志文件的存放路径;默认是禁用，当需要debug时可以启用后查看日志文件。
slow_query_log=1			# 启用(1)/禁用(0)慢查询日志功能
long_query_time=2			# 配置慢查询的阈值时间,以秒为单位;任何执行时间超过该阈值的查询语句将被记录到慢查询日志中;
					# 设置为2秒，意味着任何执行时间超过2秒的查询将被记录到慢查询日志中。
slow_query_log_file =/var/lib/mysql/SlowSQL.log 	# 配置慢查询日志文件的路径和名称;此配置中，慢查询日志将被记录到/var/lib/mysql/SlowSQL.log文件中
# slow_query_log_file =/var/lib/mysql/localhost-slow.log

## binlog configuration	BinLog相关选项配置
#expire_logs_days = 30			# 配置binlog失效时间
#max_binlog_size = 500M			# 配置binlog文件大小
#binlog_expire_logs_seconds=259200	# 设定binlog保留时间

# 设置SQL模式，包括严格的事务表、禁止零日期、错误除零、禁用引擎替换等
sql_mode=STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION

# Custom config should go here
!includedir /etc/mysql/conf.d/
